---
photo: "https://czechvisual.space/bebarova/emailing/assets/profile-photo_05.png"
name: "Tereza Bebarová, Ivan Kotmel"
phone: "+420 608 335 652"
email: "probiofamily@gmail.com"
website: "casnatebe.cz"
---

<!--
  HTML template
  Email signature
  @Author: Patrik Vaďura | czechvisual
  @package maildevelop
-->

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-600 font-sans sm:w-full">
      <tr>
        <td align="center">
          <component src="src/components/body.html"></component>

          <table class="m-0 w-600 sm:w-full">
            <tr>
              <td class="w-1/6 pl-0 text-black font-light sm:w-1/4 sm:px-0">
                <img src="{{ page.photo }}" width="70" style="width: 70px!important;">
              </td>

              <td class="w-5/6 pl-0 sm:w-3/4">
                <p class="m-0 font-black text-lg text-primary">
                  {{ page.name }}
                </p>

                <hr align="left" class="border-0 bg-primary text-slate-500 h-0.5 w-[100px]">

                <p class="m-0 font-base text-gray text-base">
                  <a href="tel:{{ page.phone }};" class="text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                    {{ page.phone }}
                  </a> |
                  <a href="tel:{{ page.email }};" class="text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                    {{ page.email }}
                  </a> |
                  <a href="https://{{ page.website }}" class="text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                    {{ page.website }}
                  </a>
                </p>

                <table class="pt-2">
                  <tbody>
                    <tr>
                      <td>
                        <a href="https://www.instagram.com/casnatebe/" class="text-xxs text-gray grayLinks">
                          <img src="{{ global.ig }}" width="14" style="width: 14px!important; padding-right: 4px;">
                        </a>
                      </td>
                      <td class="text-xxs text-gray grayLinks pr-2">
                        <a href="https://www.instagram.com/casnatebe/" class="text-xxs text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                          casnatebe
                        </a>
                      </td>

                      <td>
                        <a href="https://www.instagram.com/terezabebarovaofficial/" class="text-xxs text-gray grayLinks">
                          <img src="{{ global.ig }}" width="14" style="width: 14px!important; padding-right: 4px;">
                        </a>
                      </td>
                      <td class="text-xxs text-gray grayLinks pr-2">
                        <a href="https://www.instagram.com/terezabebarovaofficial/" class="text-xxs text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                          terezabebarova
                        </a>
                      </td>

                      <td>
                        <a href="https://www.instagram.com/probiofamily/" class="text-xxs text-gray grayLinks">
                          <img src="{{ global.ig }}" width="14" style="width: 14px!important; padding-right: 4px;">
                        </a>
                      </td>
                      <td class="text-xxs text-gray grayLinks">
                        <a href="https://www.instagram.com/probiofamily/" class="text-xxs text-gray grayLinks" style="color: #222E34 !important; text-decoration: none !important;">
                          probiofamily
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
