<table class="w-600 sm:w-full">
  <tr>
    <td class="text-black contentLink font-normal pb-6 px-0 sm:px-0">
      <div class="m-0 font-hind text-base leading-relaxed contentLink">
        Dobrý den,
        <br><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Nulla non lectus sed nisl molestie malesuada. Vivamus porttitor turpis ac leo.
        <br><br>
        S přáním hezkého dne,
      </div>
    </td>
  </tr>
</table>
